/* ========================== Thong ke ========================= */

:root {

    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #dd3036;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;


    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;
    --purle-color1: #4D2DB7;
    --purle-color2: #9D44C0;
    --purle-color3: #EC53B0;


    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
    background: var(--main-bg-color);
    color: var(--main-color);
    margin: 0;
    overflow-x: hidden;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-success {
    background: var(--success-color);
}

.bg-warning {
    background: var(--warning-color);
}

.bg-danger {
    background: var(--danger-color);
}

.bg-purple3 {
    background: var(--purle-color3);
}

input#date {
    font-size: 18px;
}
select#selectoptiondate{
    font-size: 19px;
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.thongke {
    padding: 10px;
    margin-left: 0;
    padding-top: 75px;
    background: var(--second-bg-color);
    transition: margin-left .5s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row:after, .row:before {
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }
    .wrapper {
        margin-left: 0;
    }
    .sidebar-expand .wrapper {
        margin-left: 0;
    }
    .nav-right .nav-item {
        display: none;
    }
    .nav-right .mode, .nav-right .avt-wrapper {
        display: list-item;;
    }
    .navbar-search {
        display: none;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    [class*="col-"] {
        width: 100%
    }
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

.counter {
    padding: 16px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.couner i {
    font-size: 50px;
}

.card {
    background: var(--main-bg-color);
    color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: solid 2px black;
}

.card-header {
    padding: 15px 30px;
    border-bottom: 1px solid var(--second-bg-color);
    position: relative;
}

.card-header i {
    color: var(--main-color);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.card-header i:hover {
    cursor: pointer;
}

.card-header h3 {
    margin: 0;
    text-align: center;
}

.card-content {
    padding: 20px;
    overflow-x: auto;
}

table#table-header {
    border-collapse: collapse;
    width: 100%;
}

table#table-header td {
    border-top: 1px solid var(--second-bg-color);
    padding: 15px;
}

table#table-header th {
    border-top: 1px solid var(--second-bg-color);
    border-bottom: 1px solid var(--second-bg-color);
    padding: 15px 12px;
    text-align: left;
    background-color: var(--red);
    color: var(--btn-color) ;
}

#content{
    width: 150%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#content #section{
    width: 65%;
    /*padding: 40px 40px 0px;*/
}
#content #section #maintable{
    width: 100%;
    min-height: 830px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    padding: 30px 50px 10px;
    overflow-x: auto;
}

#content #section #maintable h3 {
    text-align: center;
    margin-bottom: 20px;
}
#content #section #maintable table,th,td{
    border: 1px solid rgba(0,0,0,0.4);
}
#content #section #maintable table{
    width: 100%;
    border-collapse: collapse;
}
#content #section #maintable table#billlist tr:not(:first-child){
    cursor: pointer;
}
#content #section #maintable table#billlist tr:not(:first-child):hover{
    background-color: #ced6e0;
}
#content #section #maintable th{
    color: white;
    height: 35px;
    padding: 0 5px;
}
#content #section #maintable td{
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}
#content #section #maintable img{
    height: 60px;
    margin: 5px;
}
#content #section #maintable td:last-child{
    text-align: center;
}
#content #section #maintable td button{
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    width: 45px;
    margin: auto;
    height: 30px;
    line-height: 22px;
    outline: none;
    display: block;
}
#content #section #maintable #pagination{
    margin-top: 20px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}
#content #section #maintable #pagination .pageNumber{
    width: 25px;
    height: 25px;
    background-color: var(--red);
    border: 2px solid var(--third-bg-color);
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
#content #section #maintable #pagination .pageNumber:hover{
    background-color: #fff;
    color: var(--red);
}
/*END Quản lí đơn hàng*/

/* phần chứa nội dung  */
.table-content2 {
    min-height: 200px;
    max-height: 550px;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #000000;
}

.table-content2 tr:nth-child(even),
.table-content2 tr:nth-child(odd) {
    background-color: #fff !important;
}
.table-content2 td {
    position: relative;
    color: #000000;
}

/* Link chi tiet san pham */
.table-content2 td a {
    display: block;
    color: #000000;
}

.table-content2 td a:hover {
    text-decoration: underline;
}

/* Hành động */
.table-content2 td i {
    padding: .3em;
    cursor: pointer;
}

.table-content2 td i.fa-wrench:hover {
    color: #63c2de
}

.table-content2 td i.fa-trash:hover {
    color: #f86c6b
}

.table-content2 td i.fa-check:hover {
    color: #5ce457d8
}

.table-content2 td i.fa-remove:hover {
    color: #f86c6b
}

.card-content {
    background-color: #fff;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #23282c;
    overflow-x: auto;
}

.card-content input,
.card-content button,
.card-content select {
    padding: 5px 10px;
    border: 3px solid transparent;
    background-color: #cccece;
}

.card-content button {
    cursor: pointer;
    background-color: #23282c;
    color: #e4e7ea;
    transition-duration: .2s;
    border-radius: 3px;
}

.card-content button:hover {
    background-color: var(--success-color);
    border-color: #73818f;
}